<!DOCTYPE html>
<html>
 <head>

 <meta charset="utf-8">
  <title>Главная страница</title> 
  <link rel="shortcut icon" href="web/img/fico.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="{{asset('web/css/index-style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{asset('web/css/menu-style.css')}}">
  <link rel="stylesheet" href="{{asset('web/css/orbit.css')}}">
   
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3427800328379755",
    enable_page_level_ads: true
  });
</script>
 </head>
 
 <body>

   <header>
   {% include 'ProjectBundle:Default:header.html.twig' %}
   </header>

   <main>
     <div id="header_slider">
       <div class="header_slider_ribbon">
         «ОЛДИН» – только современные технологии и качественные решения!
         <a class="header_slider_ribbon_social" target="_blank" href="https://vk.com/oldin01"></a>
         <a class="header_slider_ribbon_social" target="_blank" href="https://www.facebook.com/groups/1620583374906542/"></a>
         <a class="header_slider_ribbon_social" href="#"></a>
       </div>

     </div>

     <div class="product-categories">
       <h1>Наш ассортимент</h1><h2><a href="fixtures">Перейти в каталог</a></h2>
       <a href="fixtures"><div class="product-item" style="background: url(web/img/menu/1.jpg) no-repeat;
       background-size: 90%; background-position: 50% calc(50% - 20px); height:140px; width:126px;  " >
         <p class="product-item_title" style="width:112px;" >Светодиодные светильники</p>
       </div></a>
       <a href="lampa"><div class="product-item" style="background: url(web/img/menu/2.jpg) no-repeat;
       background-size: 90%; background-position: 50% calc(50% - 20px); height:140px; width:127px; ">
         <p class="product-item_title" style="width:113px;" >Светодиодные лампы</p>
       </div></a>
       <a href="lenta"><div class="product-item" style="background: url(web/img/menu/3.jpg) no-repeat;
       background-size: 60%; background-position: 50% calc(50% - 20px); height:140px; width:127px; ">
         <p class="product-item_title"style="width:113px;">Светод. ленты, модули, БП</p>
       </div></a>
       <a href="profil"><div class="product-item" style="background: url(web/img/menu/4.jpg) no-repeat;
       background-size: 80%; background-position: 50% calc(50% - 20px); height:140px; width:127px; ">
         <p class="product-item_title"style="width:113px;">Алюминиевый профиль</p>
       </div></a>
       <a href="opora"><div class="product-item" style="background: url(web/img/menu/5.jpg) no-repeat;
       background-size: 30%; background-position: 50% calc(50% - 20px); height:140px; width:127px; ">
         <p class="product-item_title"style="width:113px;">Осветительные опоры и мачты</p>
       </div></a>
       <a href="schit"><div class="product-item" style="background: url(web/img/menu/6.jpg) no-repeat;
       background-size: 90%; background-position: 50% calc(50% - 20px); height:140px; width:127px; ">
         <p class="product-item_title"style="width:113px;">Электрощитовое оборудование</p>
       </div></a>
       <a href="newyear"><div class="product-item" style="background: url(web/img/menu/7.jpg) no-repeat;
       background-size: 80%; background-position: 50% calc(50% - 20px); height:140px; width:127px; ">
         <p class="product-item_title"style="width:113px;">Новогоднее освещение</p>
       </div></a>
     </div>

     <div class="examples-and-novelty">
       <div class="examples">
         <h1>Примеры наших работ</h1>
         <div id="examples_slider">
           <div id="featured"> 
			<div class="slider-nav"><span class="right" onclick='On(); return false;'>Right</span><span class="left" onclick='On(); return false;'>Left</span></div>
			<img class="imf" src="web/img/example.jpg"  alt="Marcus Fenix"  width="560px" height="250px" rel="slaid1"/>
			<img  src="web/img/example2.jpg" alt="Master Chief" width="560px" height="250px" rel="slaid2"/>
		
			
		</div> 
		<span class="orbit-caption" id="slaid1">Промышленное <em>светодиодное</em> освещение.</span>
		<span class="orbit-caption" id="slaid2">Уличное <em>светодиодное</em> освещение.</span>
         </div>
		
         <p>Промышленное светодиодное освещение – это незаменимая часть на
           предприятии. Именно благодаря этому вы сэкономите и деньги, и время.
            Ведь уже давно известно, что светодиодная продукция требует низкое
            энергопотребление и способна выдержать неожиданные перепады напряжения.
            Ко всему этому, светодиодные светильники способны дать высокую светоотдачу
             при значительно более низком энергопотреблении, нежели обычные лампы
              накаливания. Но это еще не всё, вы также сэкономите на кол-ве
              светоточек, мощности автоматов и кабеле. <a href="http://ol1.by/info/43">Подробнее…</a></p>
		
			  
         <h2>Использованные технологии:</h2>
         <ul class="examples_used-tech">
           <li><a href="http://ol1.by/fixtures/prom/5">TL-PROM 50 PR (Д)</a></li>
           <li><a href="http://ol1.by/fixtures/prom/8">TL-PROM 100 PR (Д)</a></li>
           <li><a href="http://ol1.by/fixtures/prom/13">TL-PROM 200 PR Plus</a></li>
         </ul>
       </div>
       <div class="novelty">
         <h1>Новые поступления</h1>
         <div id="novelty_slider">
            <div id="red"> 
			
          
			<img class="imf" src="web/img/new.jpg"  alt="Marcus Fenix"  width="300px" height="420px" rel="slaid3"/>
			<img  src="web/img/new2.jpg" alt="Master Chief" width="300px" height="420px" rel="slaid4"/>
		
			
		</div> 
		<span class="orbit-caption" id="slaid3"> <a href="http://ol1.by/fixtures/street/3" target="_blank" style="color: #fff">TL-STREET 110 PR Plus (Ш).</a> </span>
		<span class="orbit-caption" id="slaid4"> <a href="http://ol1.by/fixtures/torg/7" target="_blank" style="color: #fff">TL-PROM TRADE 50 PR О L1550</a> </span>
         </div>
         <button class="show-in-catalog" href="fixtures"><a class="text-show" href="fixtures">Открыть в каталоге</a></button>
       </div>
     </div>

     <div class="about-us">
       <h1>О нас</h1>
       <p>Компания "Олдин" основана в начале 2000-х годов, чтобы быть первой в
         поставке инновационных, надежных электротехнических изделий и
         комплектующих для ведущих предприятий страны. За годы работы наши
         клиенты и партнеры убедились, в надежности и скорости совершаемых
         сделок. Благодаря слаженной работы коллектива, заключены продолжительные
         контракты с теми производителями и дистрибьюторами, которые достигают
         наилучшего соотношения цены, качества, а также надежности производимого и
         поставляемого оборудования. В данный момент, мы сосредоточили свои силы
         на поставках светодиодной продукции и предлагаем широкий ассортимент,
         который даёт возможность потребителям сократить энергопотребление, и,
         тем самым уменьшить расходы на электроэнергию. Весь ассортимент имеет
         гарантию от производителей и сертификаты соответствия.</p>
       <div class="about-us_img"></div>
     </div>
     <div class="contacts">
   <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=DSmaTpgudw63pLos2HuLGFOzM_aK42Pm&amp;width=1000&amp;height=380&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
     </div>
   </main>
   <footer>
     <p>Общество с дополнительной ответственностью «ОЛДИН»<br>220024, г. Минск, пер. Стебенева, 9а<br>УНП 690031739</p>
     <img class="footer_logo" src="web/img/footer_logo.png">
     <p class="copyrights">2016 &copy; Все права защищены.</p>
   </footer>
   
   <script  src="{{asset('web/js/dist/max.js')}}"></script>
   <script src="{{asset('web/js/dist/jquery.knob.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('web/js/jquery.orbit3.js')}}"></script>
   
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3427800328379755",
    enable_page_level_ads: true
  });
</script>
  <script type="text/javascript">
  
  
			$(window).load(function() {
				$('#featured').orbit({
					'bullets': true,
					'timer' : false,
					'animation' : 'horizontal-slide'
				});
			});
		</script>	
  <script type="text/javascript">
			$(window).load(function() {
				$('#red').orbit({
					'bullets': true,
					'timer' : true,
					'animation' : 'horizontal-slide'
				});
			});
		</script>
 <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter40415315 = new Ya.Metrika({
                    id:40415315,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/40415315" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85711682-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'u0vOpiMMNF';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
 </body>
</html>
